<% content_for :title, "Shift Feedback" %>

<h1>Feedback for <%= @shift.shift_type %> shift on <%= @shift.shift_date %></h1>

<%= form_with(model: @shift) do |form| %>
  <% if @shift.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% @shift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :van, "Van: ", style: "display: block" %>
    <%= form.number_field :van, required: false %>
    <%= form.label :pu_time, "Van pick up time from base: ", style: "display: block" %>
    <%= form.text_field :pu_time, required: false %>
    <%= form.label :do_time, "Van drop off time from base: ", style: "display: block" %>
    <%= form.text_field :do_time, required: false %>
    <%= form.label :odo_pre, "Odometer reading pre-trip: ", style: "display: block" %>
    <%= form.text_field :odo_pre, required: false %>
    <%= form.label :odo_pst, "Odometer reading post-trip: ", style: "display: block" %>
    <%= form.text_field :odo_pst, required: false %>
  </div>

  <div>
    <%= form.submit "Save Feedback" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this shift", @shift %> |
  <%= link_to "Back to shifts", shifts_path %>
</div>
