<p style="color: green"><%= notice %></p>

<% content_for :title, "Shifts Calendar" %>

<%= stylesheet_link_tag 'shifts', media: 'all' %>

<h1>Shifts Calendar</h1>

<div id="shifts-calendar">
  <%# The following line starts with the following parameter which can be replaced by
  'week_calendar' or 'month_calendar' or 'calendar' %>
  <%= month_calendar(attribute: :shift_date, events: @shifts) do |date, shifts| %>
    <%= date %>

    <% if date.month == @date.month && date.year == @date.year && (current_user.admin? || current_user.dispatcher?) %>
      <%= link_to "New shift", new_shift_path(date: date), data: { date: date.to_s }, class: "new-shift-btn" %>
    <% end %>

    <% shifts.each do |shift| %>
      <div>
        <strong>
          <% if current_user.admin? || current_user.dispatcher? %>
            <%= link_to shift.driver.name, upcoming_shifts_driver_path(shift.driver, return_url: request.fullpath), class: "driver-link" %>
          <% elsif current_user.driver? %>
            <%= shift.driver.name %>
          <% end %>
        </strong>
         - 
        <% if current_user.admin? || current_user.dispatcher? %>
          <%= link_to shift.shift_type, shift, style: "color: blue; text-decoration: underline;", class: "shift-type-link" %>
        <% elsif current_user.driver? %>
          <%= shift.shift_type %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%# Display a Back button only if a return path was previously captured %>
  <% if @return_to_drivers_today_from_shifts_index.present? %>
    <div class="calendar-back-btn" >
        <%= link_to "Back", @return_to_drivers_today_from_shifts_index, class: "btn btn-outline-secondary" %>
    </div>
  <% end %>

</div>

<% if current_user.admin? %>
  <%= render "shift_templates/index" %>
<% end %>