<p style="color: green"><%= notice %></p>

<% content_for :title, "Shifts" %>

<%= stylesheet_link_tag 'shifts', media: 'all' %>

<h1>Shifts Calendar</h1>

<div id="shifts-calendar">
  <%# The following line starts with the following parameter which can be replaced by
  'week_calendar' or 'month_calendar' or 'calendar' %>
  <%= month_calendar(attribute: :shift_date, events: @shifts) do |date, shifts| %>
    <%= date %>
    <%= link_to "New shift", new_shift_path(:date => date) %>

    <% shifts.each do |shift| %>
      <div>
        <strong>
          <%= link_to shift.driver.name, driver_driver_all_shifts_path(shift.driver) %>
        </strong>
         - 
        <%= link_to shift.shift_type, shift, style: "color: blue; text-decoration: underline;" %>
      </div>
    <% end %>
  <% end %>
</div>
