<p style="color: green"><%= notice %></p>

<% content_for :title, "Shifts" %>

<%= stylesheet_link_tag 'shifts', media: 'all' %>

<h1>Shifts Calendar</h1>

<div id="shifts-calendar">
  <%# The following line starts with the following parameter which can be replaced by
  'week_calendar' or 'month_calendar' or 'calendar' %>
  <%= month_calendar(attribute: :shift_date, events: @shifts) do |date, shifts| %>
    <%= date %>
    <% shifts.each do |shift| %>
      <div>
        <strong>
          <%= shift.driver.name %>
        </strong>
         - 
        <%= shift.shift_type %>
      </div>
    <% end %>
  <% end %>
</div>
