<div id="<%= dom_id passenger %>">
  <p>
    <strong>First name:</strong>
    <%= passenger.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= passenger.last_name %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= passenger.full_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= passenger.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= passenger.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= passenger.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= passenger.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= passenger.phone %>
  </p>

  <p>
    <strong>Alternative phone:</strong>
    <%= passenger.alternative_phone %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= passenger.birthday %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= passenger.race %>
  </p>

  <p>
    <strong>Hispanic:</strong>
    <%= passenger.hispanic %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= passenger.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= passenger.notes %>
  </p>

  <p>
    <strong>Date registered:</strong>
    <%= passenger.date_registered %>
  </p>

  <p>
    <strong>Audit:</strong>
    <%= passenger.audit %>
  </p>

</div>
