<p style="color: green"><%= notice %></p>

<% content_for :title, "Shift templates" %>

<h1>Shift templates</h1>
<div class="simple-calendar" id="shift-template-calender">
  <table class="table table-striped">
  <thead>
    <tr>
      <% (0..6).each do |day| %>
        <th><%= t('date.abbr_day_names')[day] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (0..6).each do |day| %>
      <td>
        <%= link_to "New shift", new_shift_template_path(day_of_week: day, start_date: params[:start_date]) %>
        <% @shift_templates.each do |shift| %>
          <% if shift.day_of_week == day%>
            <div>
              <strong>
                <%= link_to shift.driver.name, upcoming_shifts_driver_path(shift.driver, return_url: request.fullpath), class: "driver-link" %>
              </strong>
              -
              <%= link_to shift.shift_type, edit_shift_template_path(shift, start_date: params[:start_date]), style: "color: blue; text-decoration: underline;", class: "shift-type-link" %>
            </div>
          <% end %> 
        <% end %>
      </td>
      
    <% end %>
  </tbody>
  </table>
</div>

<div class="text-center mt-4">
  <%= link_to 'Fill in Month from Template', fill_from_template_shifts_path(date: @date),
                      data: { turbo_method: :post, turbo_confirm: 'Are you sure you want to fill in shifts for this month?' },
                      class: "btn btn-sm btn-primary" %>
  <%= link_to 'Delete All Shifts for this Month', clear_month_shifts_path(date: @date),
                      data: { turbo_method: :post, turbo_confirm: 'Are you sure you want to delete all shifts for this month?' },
                      class: "btn btn-sm btn-danger" %>
</div>