<div id="<%= dom_id feedback %>">
  <p>
    <strong>Companion:</strong>
    <%= feedback.companion %>
  </p>

  <p>
    <strong>Mobility:</strong>
    <%= feedback.mobility %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= feedback.note %>
  </p>

  <p>
    <strong>Pick up time:</strong>
    <%= feedback.pick_up_time %>
  </p>

  <p>
    <strong>Drop off time:</strong>
    <%= feedback.drop_off_time %>
  </p>

  <p>
    <strong>Fare:</strong>
    <%= feedback.fare %>
  </p>

</div>
