<!-- Card Grid -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <% @drivers.each do |driver| %>
    <div class="col">

      <div class="card driver-card">

        <!-- Card header -->
        <div class="driver-card-header">
          <h5 class="card-title mb-0"><%= driver.name %></h5>
          <small><%= driver.email.presence || "No email provided" %></small>
        </div>

        <!-- Card body -->
        <div class="driver-card-body">
          <p class="mb-2">
            <strong>Phone:</strong> <%= driver.phone.presence || "No phone number provided" %>
          </p>
          <hr/>

          <strong>Shifts: TBD</strong>

          <hr/>
          <strong>Active:</strong> <%= driver.active? ? "Yes" : "No" %>
        </div>

        <!-- Card footer -->
        <div class="driver-card-footer">
          <%= link_to "Edit", edit_driver_path(driver), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Today\'s Rides", today_driver_path(id: driver.id), class: "btn btn-primary", id: "today-btn" %>
          <%= link_to "Delete", driver, 
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn btn-sm btn-outline-danger"
          %>
        </div>
      </div>
    </div>
  <% end %>
</div>
