<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= driver.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= driver.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= driver.active %>
  </p>

</div>
