<div class="today-page">
  <h1>Rides for <%= @current_date.strftime("%m/%d/%Y %A") %></h1>
  <h2>Driver: <%= @driver.name %></h2>
  <form class="today-form">
    <div class="button-group">
      <%= link_to "Last Day", today_driver_path(date: @current_date - 1.day), class: "btn btn-secondary" %>
      <%= link_to "Back to Today", today_driver_path(date: Time.zone.today), class: "btn btn-primary" %>
      <%= link_to "Next day", today_driver_path(date: @current_date + 1.day), class: "btn btn-secondary" %>
      <button onclick="window.print()" class="btn btn-primary" id="btn-print">Print</button>
    </div>
  </form>

  <% if @rides.any? %>
    <div class="rides-container">

      <!-- Table for PC users -->
      <table class="rides-table">
        <thead>
          <tr>
            <th>Van</th>
            <th>Notes</th>
            <th>Hours</th>
            <th>Fee</th>
            <th>Info</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          <% @rides.each do |ride| %>
            <tr>
              <td><%= ride.van %></td>
              <td><%= ride.notes %></td>
              <td><%= ride.hours %></td>
              <td><%= number_to_currency(ride.amount_paid) %></td>
              <td><%= link_to "Info", ride_path(ride.id), class: "btn btn-primary" %></td>
              <td><%= link_to "Feedback", edit_feedback_path(ride.feedback), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <!-- Block-based ride info for mobile users -->
      <div class="rides-list">
        <% @rides.each do |ride| %>
          <div class="ride-block">
            <p><strong>Van:</strong> <%= ride.van %></p>
            <p><strong>Notes:</strong> <%= ride.notes %></p>
            <p><strong>Hours:</strong> <%= ride.hours %></p>
            <p><strong>Fee:</strong> <%= number_to_currency(ride.amount_paid) %></p>
            <%= link_to "Info", ride_path(ride.id), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="no-rides">No rides available</p>
  <% end %>

  
  <div id="btn-shift">
    <%= link_to "View Other Drivers", drivers_path(dont_jump: true), class: "btn btn-primary" %>
    <%= link_to "View All Shifts", shifts_path, class: "btn btn-primary" %>
    <% if @shift %>
      <%= link_to "Shift Feedback", feedback_shift_path(@shift.id), class: "btn btn-primary" %>
    <% end %> 
  </div>

</div>
