<h1>All Users</h1>

<div class="unassigned-user-actions mb-3">
  <%= button_to "Remove All Unassigned Users",
                destroy_unassigned_admin_users_path,
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure you want to delete all users with no assigned role?\nThis action cannot be undone!\nUsers with assigned roles will not be affected."
                },
                class: "btn btn-danger" %>
</div>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role.present? ? user.role : "Unassigned" %></td>
      <td>
        <%= button_to "Edit", edit_admin_user_path(user), method: :get %>
        <%= button_to "Remove", admin_user_path(user), method: :delete, form: { data: { turbo: 'false'} } %>
      </td>
    </tr>
  <% end %>
</table>