<div class="filter-page">
  <%= stylesheet_link_tag "rides", media: "all", "data-turbo-track": "reload" %>

  <%= form_with(model: @ride, local: true, class: "filter-form") do |form| %>
    <% if @ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>
        <ul>
          <% @ride.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table class="rides-table">
      <thead>
        <tr>
          <th>Day</th>
          <th>Date</th>
          <th>Driver</th>
          <th>Van</th>
          <th>Passenger Name & Phone</th>
          <th>Passenger Address</th>
          <th>Destination</th>
          <th>Notes to Driver</th>
          <th>Hours</th>
          <th>Amount Paid</th>
          <th>Ride Count</th>
          <th>C</th>
          <th>Notes/Date Reserved</th>
          <th>Confirmed w/ Passenger</th>
          <th>Driver Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.text_field :day, class: "form-control" %></td>
          <td><%= form.date_select :date, class: "form-control" %></td>
          <td><%= form.text_field :driver, class: "form-control" %></td>
          <td><%= form.number_field :van, class: "form-control" %></td>
          <td><%= form.text_field :passenger_name_and_phone, class: "form-control" %></td>
          <td><%= form.text_field :passenger_address, class: "form-control" %></td>
          <td><%= form.text_field :destination, class: "form-control" %></td>
          <td><%= form.text_area :notes_to_driver, class: "form-control" %></td>
          <td><%= form.number_field :hours, step: 0.1, class: "form-control" %></td>
          <td><%= form.number_field :amount_paid, step: 0.01, class: "form-control" %></td>
          <td><%= form.number_field :ride_count, class: "form-control" %></td>
          <td><%= form.text_field :c, class: "form-control" %></td>
          <td><%= form.text_field :notes_date_reserved, class: "form-control" %></td>
          <td><%= form.text_field :confirmed_with_passenger, class: "form-control" %></td>
          <td><%= form.text_field :driver_email, class: "form-control" %></td>
        </tr>
      </tbody>
    </table>

    <div class="button-group">
      <%= form.submit 'Save Ride', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', rides_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
