<td><%= ride.day %></td>
<td><%= ride.date %></td>
<td><%= ride.driver %></td>
<td><%= ride.van %></td>
<td><%= ride.passenger_name_and_phone %></td>
<td><%= ride.passenger_address %></td>
<td><%= ride.destination %></td>
<td><%= simple_format(ride.notes_to_driver) %></td>
<td><%= ride.hours %></td>
<td><%= ride.amount_paid %></td>
<td><%= ride.ride_count %></td>
<td><%= ride.c %></td>
<td><%= simple_format(ride.notes_date_reserved) %></td>
<td><%= ride.confirmed_with_passenger %></td>
<td><%= ride.driver_email %></td>